## Prep

In [1]:
import sys
sys.version
import requests
import pandas as pd
from bs4 import BeautifulSoup

## Scrape one crossword

In [12]:
test_url = 'https://www.xwordinfo.com/Crossword?date=9/23/2021'
r = requests.get(test_url)
src = r.content

In [13]:
soup = BeautifulSoup(src, 'html.parser')

In [14]:
# clues
clues = []
answers = []
for div in soup.select('.numclue div'):
    div_text = div.get_text(strip=True)
    print(div_text)
    if ':' in div_text:
        k,v = div_text.rsplit(':', 1)
        clues.append(k)
        answers.append(v)

1
Proto-smartphones, in brief :PDAS
5
It may be flipped in anger, with "the" :BIRD
9
Companion, in Arabic :SAHIB
14
Performance traditionally accompanied by the ipu heke (double gourd drum) :HULADANCE
16
Protein-building acid type :AMINO
17
Marley of "Marley & Me," for one :YELLOWLAB
18
Unbending :RIGID
19
Insomniacs have them :SLEEPLESSNIGHTS
21
A pelican gulper is a type of one :EEL
22
Parts of essential oils :ESTERS
26
It's a wrap :OBI
27
Didn't win or lose :DREW
29
Eye ailments :STYES
31
Evian, par exemple :EAU
33
Food item that may be candied :YAM
36
Blue Angels, e.g. :AEROBATS
38
Failing spectacularly :GOINGUPINFLAMES
42
Colonies construct them :ANTNESTS
45
Anderson Cooper, to Gloria Vanderbilt :SON
46
Network operated by the U.S. Space Force :GPS
47
Part of a bar line :STOOL
49
Get red in the face? :CHAP
53
What starts with janeiro, in Rio :ANO
55
Like mortgagors :INDEBT
58
Actress Hagen with three Tonys :UTA
59
Members of a wartime skywatching corps :GROUNDOBSERVERS
63
Frothy order :LATTE
64
Symbols often accompanying the phrase "Legalize it" :POTLEAVES
66
Seriously fancy :ADORE
67
Redacts, as sensitive information (suggested by three of this puzzle's answers) :BLACKSOUT
68
Feinted on the ice :DEKED
69
Adam and Eve's third child :SETH
70
Standard Oil offshoot :ESSO
1
Gym :PHYSED
2
Burr, famously :DUELER
3
Genetic variant :ALLELE
4
Something that's no good unless it's closed :SALE
5
Blubbers :BAWLS
6
Some safe harbors :INLETS
7
Electronics company that founded NBC :RCA
8
Type of socialite officially discontinued in the U.K. in 1958 :DEB
9
It's a wrap :SARI
10
Mexican ally :AMIGO
11
Flashy car feature? :HIGHBEAM
12
New member :INITIATE
13
Gym figures, for short :BODS
15
Lowdown :DOPE
23
Flight tracker info :ETA
24
Alternative to white :RYE
25
Peons :SERFS
28
Casino next to the Venetian in Vegas :WYNN
30
2018 sci-fi prequel :SOLO
32
___ Enterprise :USS
34
Range on a game box :AGES
35
"Are you giving me no choice?" :MUSTI
37
Like Supreme Court hearings, with "en" :BANC
38
Shut up :GAG
39
For all to see :ONPARADE
40
Response to rule-breaking :ITSNOTOK
43
Whole lot :TON
44
Cover some ground? :SOD
48
Titular vampire in Anne Rice novels :LESTAT
50
Parts of a Spanish omelet :HUEVOS
51
Father-in-law of Helen of Troy :ATREUS
52
Target with a toss :PASSTO
54
Off-the-wall :OUTRE
56
Something that might come up after a big meal? :BELCH
57
Enterprise voyage :TREK
59
Hefty rival :GLAD
60
Have to have :NEED
62
Container whose name is pronounced with either a long "a" or an "ah" :VASE
64
Network supported by "Viewers Like You" :PBS
65
___ Miss of the N.C.A.A. :OLE

In [5]:
crossword_df = pd.DataFrame(
    {'CLUE': clues,
     'ANSWER': answers
    })

crossword_df.head()

                                                CLUE     ANSWER
0                       Proto-smartphones, in brief        PDAS
1            It may be flipped in anger, with "the"        BIRD
2                              Companion, in Arabic       SAHIB
3  Performance traditionally accompanied by the i...  HULADANCE
4                        Protein-building acid type       AMINO

## Loop through multiple dates

In [6]:
# cword_dates = pd.date_range("11/21/1993", periods=365*27+260, freq="D")
cword_dates = pd.date_range("11/21/1993", "9/26/2021", freq="D")
cword_dates = cword_dates.strftime('%m/%d/%Y')

In [7]:
cword_dates

Index(['11/21/1993', '11/22/1993', '11/23/1993', '11/24/1993', '11/25/1993',
       '11/26/1993', '11/27/1993', '11/28/1993', '11/29/1993', '11/30/1993',
       ...
       '09/17/2021', '09/18/2021', '09/19/2021', '09/20/2021', '09/21/2021',
       '09/22/2021', '09/23/2021', '09/24/2021', '09/25/2021', '09/26/2021'],
      dtype='object', length=10172)

In [8]:
base_url = 'https://www.xwordinfo.com/Crossword?date='

clues = []
answers = []
for date in cword_dates:
    cw_url = base_url + date
    r = requests.get(cw_url)
    src = r.content
    soup = BeautifulSoup(src, 'html.parser')
    for div in soup.select('.numclue div'):
        div_text = div.get_text(strip=True)
        if ':' in div_text:
#             print(div_text)
            k,v = div_text.rsplit(':', 1)
            clues.append(k)
            answers.append(v)

crossword_df = pd.DataFrame(
    {'CLUE': clues,
     'ANSWER': answers
    })

crossword_df.head()

                             CLUE       ANSWER
0  Site of the Shandog Peninsula     YELLOWSEA
1       "Closer to Fine" singers   INDIGOGIRLS
2          Capital near Lake Tuz        ANKARA
3               MasterCard rival        OPTIMA
4                 Petrarch works       SONNETS

In [9]:
crossword_df.to_csv('../crossword_data.csv')

In [10]:
len(crossword_df)

849852

In [11]:
crossword_df.tail()

                                           CLUE ANSWER
849847                Japanese soup ingredient    MISO
849848                Children's author Blyton    ENID
849849          Bird with a reduplicative name    NENE
849850                         JFK alternative     LGA
849851  Dallas and Houston are in it, in brief     NBA